.about-me-section {
  @apply pt-20 lg:pt-60;

  .contain {
    @media screen and (min-width: 1024px) {
      @apply flex justify-between;
    }

    strong {
      @apply uppercase font-medium block;
    }

    .biography {
      @apply pb-10 lg:grow lg:pr-10;

      max-width: 800px;

      ul {
        @apply flex flex-wrap;

        li {
          @apply list-disc;

          width: 50%;
        }
      }
    }

    .wrapper {
      @media screen and (min-width: 1024px) {
        min-width: 420px;
      }

      .education {
        .education-item {
          @apply w-full flex justify-between border-b border-solid border-neutral pb-5 border-opacity-20;

          &:last-child {
            @apply border-b-0;
          }
        }
      }

      .work-experience {
        @apply pb-10 lg:pb-20;

        .work-experience-item {
          @apply w-full flex justify-between border-b border-solid border-neutral pb-5 border-opacity-20;
        }
      }
    }
  }
}
